.color{
    text-decoration: line-through;
    
}
.false{
    text-decoration: none;
}
.containerList{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 15px;
    margin-top: 10px;
}
.title{
    max-width: calc(100% -  90px);
}
.title span{
    font-weight: bold;
}
.icon{
    width: 110px;    
    display: flex;
    justify-content: space-between;
}
button{    
    width: 25px;
    height: 25px;       
    padding: 2px;
    border-radius: 50%;
    background-color: #8a8485;
    box-shadow: inset 0px 0px 4px 2px #666474;  
}
button svg{
    fill: white;
}
input[type=checkbox]{
    width: 40px;
    height: 20px;    
    background-color: #eeecfb;
    appearance: none;    
    border-radius: 10px;
    box-shadow: inset 0px 0px 4px 2px #666474;
    position: relative;
}
input[type=checkbox]:checked{
    background-color: #8a8485;
}
input[type=checkbox]::before{
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;    
    background-color: #eeecfb;
    box-shadow: inset 0px 0px 4px 2px black;
    position: absolute;
    left: 0;
    top: 0;
    transform: scale(1.1);
    transition: all 400ms;
}
input[type=checkbox]:checked::before{
    left: 20px;
}