* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "openSans";
}
*:focus{
  outline: none;
}
@font-face{
  font-family: "openSans";
  src:url('./assets/fonts/OpenSans-Light.ttf')
}